################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/FizzBuzzer.NUnitTests/bin/Debug/netcoreapp3.1
