<canvas id="myChart_simple"></canvas>
<p id="test"></p>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <script>
        function GetJSON_Simple(countryName) {
            var resp = [];
            $.ajax({
                type: "GET",
                data: {
                    country: countryName,
                },
                url: '/Datasets/Data',
                async: false,
                contentType: "application/json",
                success: function (data) {
                    resp.push(data);
                },
                error: function (req, status, error) {
                    alert("Error");
                }
            });
            return resp;
        }
        function getSpecificData(countryName) {
            var SpecificData = [];
            tmp = GetJSON_Simple(countryName);
            SpecificData[0] = tmp[0][0]; //new cases - cured
            SpecificData[1] = tmp[0][1]; // dates
            for (let i = 0; i < SpecificData[1].length; i++) {
                SpecificData[1][i] = SpecificData[1][i].slice(0, 10);
            }
            return SpecificData;
        }

        let defaultCountries = ["Poland", "Germany", "France", "Spain", "Russia", "China"];
        testCountry = getSpecificData(defaultCountries[0]);
        var new_array = [];
        testCountry[0].reduce(function (a, b, i) { return new_array[i] = a + b; }, 0);
        var ctx_simple = document.getElementById('myChart_simple');

        var myChart_simple = new Chart(ctx_simple, {
            type: 'line',
            data: {
                labels: new_array,
                datasets: [{
                    label: "Polska",
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1,
                    data: testCountry[0],
                }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        stacked: false,
                    }],
                    yAxes: [{
                        stacked: false,
                        type: "logarithmic",
                        ticks: {
                            suggestedMax: 10000,
                            suggestedMin: 0,
                        }
                    }]
                },

            }
        });

    </script>
}